[2017-05-17 15:14] amberreeves opened #1 "[x] Collection field bug"
In Drupal we can see a "Collection" field, which we think was originally intended to be a place where institutions could mark which archival collection the item was sourced from--note that it's distinct from the "Collection Guides" field. However, Paula at Radcliffe says that when she adds text to that field (I presume she means in Drupal rather than through a TSV field) nothing shows up. She offe

[2017-05-24 16:09] amberreeves opened #2 "[20] Documentation"
**Tasks, due dates, and assignments are in Asana**

https://app.asana.com/0/12738245044252/388775086235196

Create a white paper in pdf format that documents our process building and improving the College Women website. The white paper can be easily distributed by both BMC and IM through various channels, can be used for future writing and speaking opportunities, and can answer the call of the gra

[2017-05-24 16:10] amberreeves opened #3 "[0.25] Outgoing links open in new window"
On item page, when clicking on the item image or the “view original item” link, target link to open in new window/tab.

Rationale: users have given feedback that it’s confusing to be directed away from College Women to institutional repositories when clicking on an item, and the current arrangement doesn’t offer a way to easily get back to the site. This would be a simple way to make sure they can

[2017-05-24 16:11] amberreeves opened #4 "[6] Searching by item format"
Ability to filter by format type in advanced search window with drop-down or checkboxes rather than text field.

Rationale: users in Phase I user testing were interested in being able to navigate more easily based on format; we expect this to be a key wish for users who want to browse based on the type of item in addition to content-related tags. Current text field was built because of lack of con

[2017-05-24 16:11] amberreeves opened #5 "[4] Sorting by format type on search results/browse page"
Ability to sort up/down alphabetically by Format the way we currently can with Institution.

[2017-05-24 16:12] amberreeves opened #6 "[0.25] “View All Themes” link text revision"
The “View All Themes” link in the home page carousel is misleading—it leads to an unfiltered browse page with all items, no view of themes. Change link text to “View all items”

[2017-05-24 16:14] amberreeves opened #7 "[4] Add Themes menu to mobile version of site"
Currently the iOS mobile version of the Browse page only shows a search button but no Themes menu.

[2017-05-24 16:15] amberreeves opened #8 "[0.25] “View Original Item” link text revision"
On the item page, change the “view original item” link text to something less confusing

Rationale: “original” suggests a dichotomy between original and facsimile in archival terms that doesn’t apply here.

Metadata committee needs to resume discussion to come up with alternative text.

[2017-05-24 16:16] amberreeves opened #9 "[2] Improved page navigation"
Add total pages to the navigation bar at the bottom of search results/browse (“<<  < 1 2 3…9 >  >>” instead of just current page and one previous/one after, “<<  < 3 4 5 >  >>”)

[2017-05-24 16:16] amberreeves opened #10 "[2] Consolidating “Reset” options on Advanced Search window"
Currently the Adv. Search window features a “reset” button next to each field. Eliminate, replace with single “reset all” button.

Rationale: multiple “reset” buttons next to each field are unnecessary (users can easily delete their text input in individual fields) and create visual clutter. Instead, there could be a “reset all” button at the top of the Advanced Search window.

[2017-05-24 16:18] amberreeves opened #11 "[1] Correction to theme titles and standardization of ampersand usage in menu"
Currently, there is inconsistency in ampersand and oxford comma usage. We would like to standardize so that all themes use “and” instead of “&” and none use an oxford comma.

Two themes use the word “and”--“Political and Social Activism” and “Arts, Theater, and Music” while the rest do not. We would like to amend the following themes: “Athletics (& → and) Physical Education,” “Buildings (& → and)

[2017-05-25 15:16] jmaj commented on #11
What is or where are the TSV ingest rules?

[2017-05-25 15:18] jmaj commented on #7
@mtedeschi  Do you have something in mind or do you just want the hidden-sm and hidden-xs to be removed with a close icon added one?

[2017-05-25 15:23] jmaj commented on #4
I'm not sure about this Estimate.

[2017-05-25 15:25] jmaj commented on #3
Is this only for the browse items content type. Or does it apply site wide with all outgoing links?

[2017-05-25 15:27] mtedeschi commented on #7
I could design something for this. I'll swap this task out and assign to me first to give you something to use.

[2017-05-25 15:28] mtedeschi commented on #4
What would you estimate it as?

We should be taking what we currently have as an autocomplete and replacing with a dropdown.

[2017-05-25 15:29] mtedeschi commented on #3
I think its just for the browse items content pages.

[2017-05-25 15:30] mtedeschi commented on #11
I think we can just adjust the themes menu—the TSV ingesting should still work as long as they're consistent (that's on them).

[2017-05-31 15:17] amberreeves opened #12 "[x] Description text display issue"
The text in the description field cuts off in odd places. Sometimes certain lines are shorter than others, like in this item: https://www.collegewomen.org/node/13533

In other cases, things actually cut off mid-word, as in "mineral" here: https://www.collegewomen.org/node/13578

I don't see anything odd in the TSV we used to upload those items in 2015. Do you know why it might be happening?

[2017-06-01 19:23] jmaj commented on #1
On staging, good to go live if they approve, demo: https://dev-college-women.pantheonsite.io/node/13638

[2017-06-01 19:23] #1 closed

[2017-06-13 15:11] mtedeschi commented on #12
So, there are nonbreaking spaces between all/most of the words, which is leading to long words that run over the container. To fix that, it has css word-break on it so it doesnt' look horrible, but it causes this weird cutting problem.

We'll have to find a way to remove those nbsp from the outputted text to solve this and remove that css word break.

[2017-06-13 15:15] jmaj commented on #11
Alright, updated on the live site and the cache has been cleared

[2017-06-13 15:26] amberreeves commented on #8
I asked Evan for the text for this link. Waiting for a response after she's back from vacation (after 6/19).

[2017-06-13 15:29] amberreeves commented on #11
OK these all look good. There is one error though that the client made in the instructions.

“Faculty, Staff, Administrators”: removing the oxford comma and adding “and” so that the new theme reads “Faculty, Staff, and Administrators.”

This does not remove the oxford comma. It should be:

Faculty, Staff and Administrators

@jmaj can you make this edit?

[2017-06-13 15:31] jmaj commented on #11
Alright, updated

[2017-06-13 15:35] amberreeves commented on #11
looks good

[2017-06-13 15:35] #11 closed

[2017-06-13 15:57] jmaj commented on #9
Can I get some clarity on this.

The last page is represented by this ">>"

So now they want it as "<< < 1 2 3…65 > >>"

Where both "65" and ">>" are the last pages ?

[2017-06-13 17:26] amberreeves commented on #9
yes, the way you describe it here aligns with what they are asking for. do you have another suggestion or question that i should send them?

[2017-06-13 19:54] jmaj commented on #6
Updated but not live

[2017-06-14 11:08] jmaj commented on #10
Available for QA on Dev server, https://dev-college-women.pantheonsite.io/browse

[2017-06-14 11:08] jmaj commented on #3
Available for QA on Dev server, https://dev-college-women.pantheonsite.io/browse

[2017-06-14 11:09] jmaj commented on #12
Available for QA on the dev server, https://dev-college-women.pantheonsite.io/node/13578

[2017-06-14 11:10] jmaj commented on #6
Available for QA on the dev server, https://dev-college-women.pantheonsite.io/

[2017-06-14 11:10] jmaj commented on #7
Available for QA on the dev server, https://dev-college-women.pantheonsite.io/node/13578

[2017-06-14 11:38] jmaj commented on #4
Changed to dropdown, QA here, http://staging.interactivemechanics.com/7sisters/

[2017-06-14 11:51] jmaj commented on #9
No suggestion, it just seems odd is all, here's a link for QA, https://dev-college-women.pantheonsite.io/browse?subject=&institution=&start_year=&end_year=&title=&searchterm=&type=&theme_id=All&sort_by=title&sort_order=ASC&page=2

[2017-06-14 13:43] amberreeves commented on #9
can you describe what seems odd about it?

[2017-06-14 13:57] amberreeves commented on #4
looks good to me

[2017-06-14 13:58] amberreeves commented on #10
that works

[2017-06-14 14:01] amberreeves commented on #3
if i understand this correctly,

when i go here https://dev-college-women.pantheonsite.io/browse, click on an item, then click on both the image itself and the 'view original' link at the bottom of the page, the next page should open up in a new window.

right now, it is opening in the same window.

if i'm missing something or looking at the wrong thing, let me know.

[2017-06-14 14:03] amberreeves commented on #12
looks good

[2017-06-14 14:03] amberreeves commented on #6
looks good

[2017-06-14 14:04] amberreeves commented on #7
looks good

[2017-06-14 14:53] jmaj commented on #9
It just seems redundant, have two links that go to the last item. Seems like there's no need or use for the ">>" if they want the last page number as a link.

And I thought I added the "..." it's there now, http://staging.interactivemechanics.com/7sisters/browse

[2017-06-14 14:58] amberreeves commented on #3
this is another instance where the client's request is contradicting itself. @mtedeschi she says in the first sentence clicking on an image should 'open in a new window' (which the site currently does), then the rationale says 'it’s confusing to be directed away from College Women to institutional repositories when clicking on an item', suggesting she wants it to open in the same window. any conte

[2017-06-14 14:59] amberreeves commented on #9
@mtedeschi can you weigh in on the best solution for this?

[2017-06-14 15:09] mtedeschi commented on #9
It does seem redundant, but I believe they're trying to give you a sense of the number of pages in the set. What if we remove the first/last arrows and also include page 1 and page N:

<   1 ... 3 4 5 ... 50   >

[2017-06-14 15:29] jmaj commented on #9
Updated, here, http://staging.interactivemechanics.com/7sisters/browse?subject=&institution=&start_year=&end_year=&title=&searchterm=&type=&theme_id=All&sort_by=title&sort_order=ASC&page=15

[2017-06-14 15:32] amberreeves commented on #9
that looks good

[2017-06-15 15:52] mtedeschi commented on #9
Great!

[2017-06-16 20:04] jmaj commented on #12
Updated on the live site, ready to be checked

[2017-06-16 20:04] jmaj commented on #10
Updated on the live site

[2017-06-16 20:07] jmaj commented on #9
Page navigation is on the live site

[2017-06-16 20:08] jmaj commented on #7
Themes link and menu will show on mobile now

[2017-06-16 20:08] #12 closed

[2017-06-16 20:09] #10 closed

[2017-06-16 20:10] #9 closed

[2017-06-16 20:11] #7 closed

[2017-06-16 20:11] jmaj commented on #4
Up on the live site

[2017-06-16 20:16] amberreeves commented on #4
@jmaj can you take a look at the format drop down in the advanced search window and confirm that the format options are correct? i see duplicates and a gap between options. is that a bug we can fix or is that an issue with how the client entered the format options?

![screen shot 2017-06-16 at 4 13 56 pm](https://user-images.githubusercontent.com/20477677/27243263-125de65a-52af-11e7-94a4-86c179253

[2017-06-16 20:59] jmaj commented on #4
It's not a bug, it's how the data is.

There was probably an item in the feed that was all lowercase so that value is no in the database. So it will get pulled as a Format.

[2017-06-16 21:07] jmaj commented on #6
This is on the live server

[2017-06-19 13:36] amberreeves commented on #4
gotcha. thanks.

[2017-06-19 13:36] #4 closed

[2017-06-19 13:37] #6 closed

[2017-06-19 15:42] jmaj commented on #5
Updated, demo can be see here, http://staging.interactivemechanics.com/7sisters/browse

[2017-06-19 15:48] amberreeves commented on #5
that works.

[2017-06-28 19:07] amberreeves opened #13 "[1] Images not appearing in blog posts"
From Evan
You can see my unpublished draft in Drupal now under "The Radicalization of Mary Whitall Worthington". The first image is towards the top of the post and is centered. The second one was supposed to be aligned to the right towards the bottom of the post, but it isn't appearing at all (if you have a look here: https://www.collegewomen.org/node/14504), though it is still included in the dra

[2017-06-28 19:09] mtedeschi opened #14 "[x] Blog images with captions should align left/right/center"
Right now, there isn't a good way that we're handling captions (I came up with a kind of crappy way to do it using the sup tag and some ghetto javascript). We should replace it with a module like this and style it to match:
https://www.drupal.org/project/ckeditor_image2

From Evan:
"I was also having trouble getting the superscript to align with the bottom of the (second, right-aligned) image sinc

[2017-06-28 19:12] amberreeves opened #15 "[2] Blog post update error"
From Evan

I Just tried to edit the two most recent posts to include bylines (Mount Holyoke College for the most recent and Smith College for the one before that). Both times I went to edit the post, added the byline, and clicked save, and got this error message:

[{"command":"settings","settings":{"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"sisters","theme_token":"z8xB_HZVdhPu-dssVv

[2017-06-28 19:37] #14 closed, assigned to jmaj

[2017-06-28 19:37] amberreeves opened #16 "[1.5] Blog images with captions should align left/right/center"
Right now, there isn’t a good way that we’re handling captions (I came up with a kind of crappy way to do it using the sup tag and some ghetto javascript). We should replace it with a module like this and style it to match:
https://www.drupal.org/project/ckeditor_image2

From Evan:
“I was also having trouble getting the superscript to align with the bottom of the (second, right-aligned) image sinc

[2017-07-05 20:55] amberreeves commented on #8
The text for the link should be

View Item on Home Repository

[2017-07-05 20:57] amberreeves commented on #3
From Evan

I think this item can be removed. the user was expressing confusion that clicking on the item took them away from College Women without an easy link back, and we came up with was to have the local repositories open in a new tab--but the site already does this! I had thought I edited/removed this item from the list.

[2017-07-05 20:57] #3 closed

[2017-07-11 16:27] mtedeschi opened #17 "[2-4] Push Drupal Feeds importer to Pantheon dev site"
We got a response from BMC folks on our questions. The full email is at the bottom, but I pulled out the key things for you here:

We're dropping <dcterms:temporal>start=XXXX; end=XXXX;</dcterms:temporal> and instead will have <startdate> and <enddate>. We can update the importer to reflect that.

Any duplicate tags just show the same data, so we can ignore them and let the module do what it alrea

[2017-07-17 15:10] jmaj commented on #5
This is live

[2017-07-17 15:10] #5 closed

[2017-07-17 15:10] jmaj commented on #8
THis is live

[2017-07-17 15:10] #8 closed

[2017-07-17 17:38] amberreeves commented on #8
example
https://www.collegewomen.org/node/13439

looks good

[2017-07-17 17:39] amberreeves commented on #5
looks good

[2017-07-18 21:01] amberreeves commented on #2
This work has been approved.

[2017-07-18 21:05] amberreeves opened #18 "[2] Add Twitter and Facebook icons to home page"
Add Twitter and Facebook icons to the home page with links to the College Women History social media accounts (@CollegeWmnHist).

[2017-07-20 19:12] amberreeves commented on #18
This has been approved by the client

[2017-07-21 14:08] mtedeschi commented on #13
I am unable to recreate this issue. Tried in the post Evan called out, and in other posts, and have no problem at all with multiple images (especially since they removed the image in question).

[2017-07-21 15:11] mtedeschi commented on #16
I've installed a new module that makes all of this easier (captions are all built in, much cleaner). Here is an example: https://dev-college-women.pantheonsite.io/node/13005

[2017-07-21 15:12] mtedeschi commented on #18
Added to the footer:
https://dev-college-women.pantheonsite.io/

[2017-07-21 15:16] amberreeves commented on #18
i'll pass this to evan for review/approval

[2017-07-21 15:16] amberreeves commented on #13
ok i'll let evan know.

[2017-07-21 15:20] #13 closed

[2017-07-21 18:01] amberreeves commented on #18
From Evan
All of us like the way the icons look at the bottom of the page, but thought they were too out of the way--not likely to be seen by someone unless they were looking specifically for our social. Would it be possible to incorporate it into the top header? If we can only pick one, I'd prefer to see them on the top menu (or elsewhere if you can think of a better location that's still somewhe

[2017-07-21 18:02] amberreeves commented on #16
From Evan

I definitely like the look of the captions and image formatting on the blog. I passed it along to the Content Committee so that I can get feedback from a few other people, and I gave them until Tuesday to send comments.

One thing that would be nice is if the image placement was reflected in the "preview" feature. When I click to preview the post, it always shows the image centered abov

[2017-07-31 20:16] amberreeves commented on #17
@jmaj will create an importer so the client can use it.

[2017-07-31 20:16] amberreeves commented on #15
@jmaj - For the posts, I haven't find a proper solution for it. I've found and tried stuff online but no luck. I will talk it further with mike because we're using pantheon, we don't have access to the core files like we normally would

[2017-07-31 20:26] jmaj commented on #17
I will set this in place and we can email them Aug 1st. I've deleted the old importers and added another one but it's reference thing the old module still.

- So I will have to make another commit which removes the old module.
- Add back the new module
- Clear cache
- Install Module
- Then add the importer back so Drupal is referencing the new Module

[2017-07-31 20:29] amberreeves commented on #17
@mtedeschi when jeff is ready tomorrow (tuesday aug 1), can you take a look at this and let me know if there is anything i need to include to send it to evan and martha?

[2017-08-01 14:51] jmaj commented on #17
I spoke with Pantheon.io support today. They are going to clear their cache, so I know for sure that module is gone. We have a support ticket with them the case number is 87331.

Once they've cleared the cache, I will be able to commit the new module.

[2017-08-03 01:11] mtedeschi commented on #15
Looked into this further. Appears to be an error from the Views Ajax module (https://www.drupal.org/node/1036962#comment-6665274) when you follow the steps outlined there (filter the admin/content view, edit a post, save it).

Will push the patch live with latest updates to test it.

[2017-08-03 01:31] mtedeschi commented on #16
I'm not sure I'll be able to add anything to make the preview image look the way she wants. I'm also not sure I see what she's seeing. Here is what I see when I preview with caption:

<img width="1618" alt="screen shot 2017-08-02 at 9 29 49 pm" src="https://user-images.githubusercontent.com/842387/28901948-c9e71f1e-77c9-11e7-8a18-f4fbd7a77ac5.png">

[2017-08-03 01:35] mtedeschi commented on #18
Here's an alternative idea: what if we add them as blue circles with white icons floating in the bottom right corner of the screen near the "FEEDBACK" button? Then we don't need to try to find a way to make them work in the main navigation, and they're still available all the time (and on all pages).

[2017-08-03 17:05] amberreeves commented on #17
Pantheon delivered instructions for next steps that Jeff will follow today.

[2017-08-03 17:18] amberreeves commented on #16
sent to evan

[2017-08-03 17:19] amberreeves commented on #18
sent to evan

[2017-08-04 11:16] mtedeschi commented on #16
The committee approves the image caption feature! Please feel free to move it to the live site.

[2017-08-04 11:21] mtedeschi commented on #18
I think your idea for the social icons is ideal, and very creative. Let's try that!

[2017-08-04 13:06] jmaj commented on #17
I've been talking to pantheon since the morning, will keep you guys updated.

[2017-08-04 15:23] jmaj commented on #17
There's a back and forth with me.and support. I'm pausing this to work on PMA

[2017-08-07 13:58] amberreeves opened #19 "[x] Blog: Image caption displaying in the wrong place"
On the Mary Whitall Worthington blog post, Evan added a caption to the first image in the body but did not add a caption to the second image.

When she published the updated post, both the first and second images include the caption she added to the first image and with the second image, the caption text is on top of the text of the article.

If this is related to the other captioning issues and w

[2017-08-07 14:01] mtedeschi commented on #19
We redid the captioning system, not yet pushed live till we get the module issues with Pantheon resolved. This is likely a non-issue since none of this gets used after that.

[2017-08-08 14:26] #19 closed

[2017-08-09 15:19] amberreeves commented on #17
From Mike - While attempting to push the module changes from local development to Pantheon’s dev site, we noticed that our changes weren’t taking effect. We attempted a number of things (including completely removing the modules and readding it with our changes, and creating a brand-new version of the module), but Pantheon still is not recognizing the new module. We’ve communicated with Pantheon s

[2017-08-13 19:01] mtedeschi commented on #18
Implemented, here:
https://dev-college-women.pantheonsite.io/

[2017-08-13 19:04] mtedeschi commented on #17
@jmaj can you push the latest OAI Feeds code up (make sure to pull down the latest). I've gone through and changed the database tables and settings.php file as they requested. I want to see if this now works.

[2017-08-14 14:14] amberreeves commented on #18
sent to evan for review

[2017-08-15 14:48] jmaj commented on #17
I removed the copy of the module and commit the code but it's still showing up. Earlier I mentioned that I think that the module is being pulled from the live environment that still seems to be the case here.

Mike if you pull down a copy of dev and look at the module folder, you'll find no reference in the OAI module. But if you go here,  https://dev-college-women.pantheonsite.io/admin/modules yo

[2017-08-15 14:52] amberreeves commented on #17
@jmaj - i removed the copy of the module and commit the code but it's still showing up. Earlier I mentioned that I think that the module is being pulled from the live environment that still seems to be the case here.

Mike if you pull down a copy of dev and look at the module folder, you'll find no reference in the OAI module. But if you go here,  https://dev-college-women.pantheonsite.io/admin/mo

[2017-08-16 14:55] amberreeves commented on #17
Mike downloaded and installed Terminus to run drush commands and rebuilt the registry, cleared all cache, and also found what might have been a duplicate of the module hiding that could have been conflicting. If we can attempt to push that up now, it might work.

[2017-08-17 17:21] mtedeschi opened #20 "[x] Look into error when attempting import"
When trying to import, you get the following error:
“There was a problem fetching repository information: OAI repository http://54.214.112.66/repox/OAIHandler?verb=ListRecords&metadataPrefix=oai_dc&set=Barnard_photographs: Incorrect Identify Response -- Unsupported Protcool Version “”"

Trying to run it from this page:
https://dev-college-women.pantheonsite.io/import/oai_feeds_importer

@jmaj: can

[2017-08-17 17:21] mtedeschi commented on #17
This is done now, just diagnosing why the import isn't working in a separate issue.

[2017-08-17 17:21] #17 closed

[2017-08-21 13:49] amberreeves opened #21 "[0.5] Install Porter Stemmer module on the dev site."
Install Porter Stemmer module on the dev site. The client would like to experiment with search stemming using this module before deciding whether they want to use it on the live site.

https://www.drupal.org/project/porterstemmer

[2017-08-21 14:32] amberreeves commented on #2
First draft has been delivered. Any new tasks attached to this will be tracked separately.

[2017-08-21 14:32] #2 closed

[2017-08-22 15:45] #20 closed

[2017-08-22 16:02] mtedeschi commented on #21
Installed on dev and ran site reindexing for them to test.

[2017-08-29 13:28] amberreeves commented on #16
Did this get pushed live with the drupal module?

[2017-08-29 13:29] amberreeves commented on #15
Did this get pushed live with the drupal module?

[2017-08-29 13:29] mtedeschi commented on #16
Drupal module isn't pushed live—it's on dev until they approve it, or we can just push it up while they test and not use it on production till its approved.

[2017-08-31 14:58] amberreeves opened #22 "[x] Install the Views Bulk Operations module"
We can install the Views Bulk Operations module on dev to allow you to test without getting this error. I'm not 100% sure why you would receive this error in connection with testing the Feeds Importer, so it may be helpful to get more specific details from Joanna about how she's encountering this problem.

[2017-08-31 15:56] amberreeves commented on #22
sent to evan for revieww

[2017-09-12 15:21] amberreeves commented on #22
this was pushed live with the latest changes

[2017-09-12 15:21] #22 closed

[2017-09-12 15:21] amberreeves commented on #21
this was pushed live with the latest changes

[2017-09-12 15:21] #21 closed

[2017-09-12 15:22] amberreeves commented on #18
this was pushed live with the latest changes

[2017-09-12 15:22] #18 closed

[2017-09-12 15:23] #15 closed

[2017-09-12 15:23] #16 closed

[2017-10-02 19:03] amberreeves opened #23 "[x] Image captions show '4321'"
See both images on this page

https://www.collegewomen.org/node/14756

[2017-10-02 19:04] amberreeves opened #24 "[x] Images not resizing"
From Evan

The second image in this post

https://www.collegewomen.org/node/14756

does not seem to be responsive to my sizing adjustments. It seems to display as very large even after a few attempts to make it smaller.

[2017-10-10 13:43] amberreeves opened #25 "[x] Make blog post default 'Full HTML'"
Make default HTML option "Full HTML" instead of "Filtered HTML" on Drupal blog posts

[2017-10-11 20:09] amberreeves commented on #2
From Evan: the documentation looks good to us. The only things left to be worked on are mostly our internal notes and we'll be addressing those.

[2017-10-11 20:10] amberreeves opened #26 "[x] Push Feeds to production"

[2017-10-25 23:54] #26 closed

[2017-10-25 23:57] mtedeschi commented on #25
Completed. Nothing to really review.

[2017-10-26 00:14] mtedeschi commented on #24
Done.

[2017-10-26 00:15] mtedeschi commented on #23
Done, pushed live.

[2017-10-27 18:14] #25 closed

[2017-10-27 18:15] #24 closed

[2017-10-27 18:15] #23 closed

[2017-12-14 20:55] amberreeves opened #27 "[0.5] 1a: Revise main navigation items"
Remove the Search and Browse items from the main navigation. In their place, add an Explore Collections item that links to this page:

https://www.collegewomen.org/browse

![college women open access portal](https://user-images.githubusercontent.com/20477677/34013911-42b1be50-e0e7-11e7-905d-aedf64412b82.png)

[2017-12-14 20:59] amberreeves opened #28 "[0.25] 1b: Change Browsing # Items text on Explore Collections page"
On the Explore Collections page, change the "Browsing XXXX Items" text to "Viewing all XXXX items" or "Viewing XXXX items [All]"
To make it clear when user is viewing all items on site vs. a limited selection.

https://www.collegewomen.org/browse

![browse open access portal](https://user-images.githubusercontent.com/20477677/34014017-aaa22194-e0e7-11e7-9153-3df0d88368e5.png)

[2017-12-14 21:02] amberreeves opened #29 "[0.5] 1c: Change Browsing X Items text on search results page"
On a search results page, change the Browsing X Items text to "X items found"

Example search results page:
https://www.collegewomen.org/browse?searchterm=&start_year=&end_year=&subject=&type=Black-and-white%20photograph&institution=

![browse open access portal 1](https://user-images.githubusercontent.com/20477677/34014136-1314a864-e0e8-11e7-9a4b-0b2b9f0ea0e8.png)

[2017-12-14 21:06] amberreeves opened #30 "[0.25] 1d: Change text on search results when no items found"
When someone does a search on the Explore Collections page, and no search results are returned, the site currently says:

No browse items found.
Back to browse page (link to the Explore Collections page)

Please change these to say:

No items found.
Back to Explore Collections (link to the Explore Collections page)

Example search results page with no items found:
https://www.collegewomen.org/brow

[2017-12-14 21:09] amberreeves opened #31 "[0.5] 2: Make Advanced Search more prominent on Explore Collections page"
Make the link to the Advanced Search window (currently the Search link) on Explore Collections page more prominent.

https://www.collegewomen.org/browse

![browse open access portal 5](https://user-images.githubusercontent.com/20477677/34014479-3c7a5ad6-e0e9-11e7-8c6b-1f9f32f99c74.png)

@mtedeschi to provide design

[2017-12-14 21:11] amberreeves opened #32 "[0.5] 3a: Remove Subjects field from Advanced Search"
Remove Subjects field from Advanced Search window.

![browse open access portal 6](https://user-images.githubusercontent.com/20477677/34014521-6e70f0d6-e0e9-11e7-8d73-29d3c7b5e279.png)

[2017-12-14 21:12] amberreeves opened #33 "[4] 3b: Integrate Themes into Advanced Search"
Integrate Themes menu into Advanced Search window (checkbox menu?).

![browse open access portal 7](https://user-images.githubusercontent.com/20477677/34014567-a29653b0-e0e9-11e7-9bda-3c12bb096651.png)

[2017-12-14 21:14] amberreeves opened #34 "[0.25] 3c: Remove Themes from Explore Collections page"
Remove Themes menu from the Explore Collections page (it will now be in the Advanced Search window).

![browse open access portal 8](https://user-images.githubusercontent.com/20477677/34014607-d5d4ae02-e0e9-11e7-9422-50693ef75084.png)

[2017-12-14 21:17] amberreeves opened #35 "[0.5] 3d: Remove some format types from Advanced Search"
In the Advanced Search window, remove all Format types from dropdown menu **except**:

1. Diaries
2. Correspondence
3. Photograph albums
4. Photographs
5. Scrapbooks

![screen shot 2017-12-14 at 4 17 10 pm](https://user-images.githubusercontent.com/20477677/34014737-45be6618-e0ea-11e7-89c1-e9eb68c98e85.png)

[2017-12-14 21:20] amberreeves opened #36 "[6] 4: Show filters applied on search results page"
Show filters applied on search results page give and allow the user to  remove them one-by-one (triggering page refresh each time).

@mtedeschi to provide design

[2017-12-14 21:21] amberreeves opened #37 "[0.25] 6a: Remove Subjects field from search results"
Remove Subjects field from search results.

![browse open access portal 9](https://user-images.githubusercontent.com/20477677/34014919-d549d5ba-e0ea-11e7-9541-e7cd4e1bc424.png)

[2017-12-14 21:22] amberreeves opened #38 "[1] 6b: Add Themes field to search results"
Replace the Subjects field on the search results page with a Themes field.

[2017-12-14 21:24] amberreeves opened #39 "[1] 6c: Add excerpt field to search results"
On the search results page, add a column for an excerpt of the item description (with a character limit).

@mtedeschi to provide design

[2017-12-14 21:25] amberreeves opened #40 "[1] 7e: Link Themes on item pages"
Link Themes on item pages so that they link to the search results page for that theme.

Example item page
https://www.collegewomen.org/node/14207

![letter from ruby willis wellesley massachusetts to dr and mrs william h willis reading massachusetts 1905 october 22 open access portal](https://user-images.githubusercontent.com/20477677/34015106-74262c88-e0eb-11e7-81c0-85c0f70591ab.png)

[2017-12-14 21:28] amberreeves opened #41 "[0.5] 8b: All Institutions boxes checked in Advanced Search"
In the Advanced Search window, all of the Institutions check boxes should be checked by default.

[2017-12-14 21:33] amberreeves opened #42 "[24] 13: Data export feature"
Our suggestion:

Select the range of a data set
Run a faceted search, results page would have export button
All data from your search returned (or, if all results, export everything)
Formats for export: JSON, CSV, TXT

We said we can come up with a streamlined version of the option we originally suggested. We can install the module and set it up at a basic level. Instead of allowing the user to se

[2017-12-14 21:36] amberreeves opened #43 "[1] 3e: Add tooltips to Advanced Search fields"
When a user hovers over each field in the advanced search window, a tooltip would would appear with text offering tips for how to use the search.

@mtedeschi to provide design
the client to provide tooltip text

[2017-12-14 21:38] amberreeves opened #44 "[0.5] 7a: Update About page sidebar menu"
Update text in sidebar menu on the About page.

Client to provide text.

![about college women open access portal](https://user-images.githubusercontent.com/20477677/34015678-3cb37f2e-e0ed-11e7-8433-6fd1bb6c218b.png)

[2017-12-14 21:40] amberreeves opened #45 "[0.5] 7b: Add menu to new page"
New page (currently Links & Resources): similar to above, we will have new content that needs a new page menu.

Waiting on more info from the client on this one.

[2017-12-14 21:41] amberreeves opened #46 "[1] 7c: Expose item identifier field on item page"
On item page, expose item identifier as a field.

Example item page
https://www.collegewomen.org/node/16137

[2017-12-14 21:44] amberreeves opened #47 "[1] 7d: Add text under image to home repository"
On item page, add text below the image that says

"You're now leaving collegewomen.org to view the item on our home repository"

and, if possible, which repository.

If implemented: we may want to remove the “View on home repository” link further down page.

@mtedeschi to provide design

Example item page
![newport letters 1887 1899 1969 open access portal](https://user-images.githubusercontent.co

[2017-12-14 21:46] amberreeves opened #48 "[0.5] 8a: Revise placeholder text in advanced search fields"
In the advanced search window, add 'e.g.' to the start of the placeholder text within each field. This placeholder text should then disappear when the user clicks into the field.

![browse open access portal 10](https://user-images.githubusercontent.com/20477677/34015998-4a8e505a-e0ee-11e7-9a2a-39e7b25decca.png)

[2017-12-14 21:51] amberreeves opened #49 "[0.25] 11: In Article WYSIWYG, make Full HTML the default"
In the Article content type, change the default HTML option to "Full HTML" instead of "Filtered HTML"

![create article open access portal 1](https://user-images.githubusercontent.com/20477677/34016189-f4c42fd6-e0ee-11e7-8fd8-e5c20e2ca7a0.png)

[2017-12-14 21:56] amberreeves opened #50 "[4] 12: Add Transcript field to item page"
On item pages, add a Transcript field. This field will link to the txt file for the item's transcript.

[2017-12-14 21:57] amberreeves opened #51 "[6] 14: Add blog subscription module and form"
- [ ] Add the Drupal 7 Mailchimp module
- [ ] Add a form to the blog for users to sign up

@mtedeschi to provide design

[2017-12-14 22:01] amberreeves opened #52 "[0.5] 6e: Add tooltips to search results page"
On the search results page, add hover text (similar to item 3d on the Advanced Search window)

Client to provide text.

@mtedeschi do you know where they want these tooltips? Over the column headers (Title, Date, etc)?

[2017-12-14 22:07] amberreeves opened #53 "[0.25] 6d: Remove the Format column from search results"
Remove the Format column from search results page **only if more space is needed after items 6b and 6c**

![browse open access portal 11](https://user-images.githubusercontent.com/20477677/34016790-3058d630-e0f1-11e7-89a2-97732b1cb7d9.png)

[2018-01-09 20:20] mtedeschi commented on #42
https://www.drupal.org/project/views_data_export

[2018-01-09 20:22] mtedeschi commented on #51
Start with Drupal 7 Mailchimp module.

[2018-01-09 20:23] mtedeschi commented on #51
@amberreeves can you request their Mailchimp information?

[2018-01-12 03:12] mtedeschi commented on #47
Candace: you can just follow the instructions above and add the text as provided below the image. Please remove the "View Item on Home Repository" link as requested.

[2018-01-12 15:28] amberreeves commented on #51
i asked evan for this last week. still waiting on a response.

[2018-01-18 14:25] amberreeves commented on #31
Evan has one question:

Joanna and I have been talking about whether the "Advanced Search" button/window should just be called/labeled "Search." I had thought it made sense to keep the "Advanced Search" language to draw a distinction with the basic keyword search option on the homepage, but that may not be as confusing to users as I imagined. And it might be clearer to call the search window "Sear

[2018-01-18 14:27] amberreeves commented on #41
From Evan
Before you begin implementing the requested changes to the (Advanced) Search window itself, we've also been floating different ideas for how the Institution checkboxes might work. In the dev list we suggested adding a check/uncheck all box and having it checked by default; Joanna suggested simply adding text (hover text, or permanently displayed on window?) that says something like, "Lim

[2018-01-18 14:31] amberreeves commented on #52
@cworthen see designs and annotations

https://marvelapp.com/2h8b1hj/screen/37146139

[2018-01-18 14:31] amberreeves commented on #51
@cworthen see design and annotations

https://marvelapp.com/2h8b1hj/screen/37146139

still waiting for credentials

[2018-01-18 14:32] amberreeves commented on #43
@cworthen see design and annotations

https://marvelapp.com/2h8b1hj/screen/37146139

still waiting on tooltip text, so you can use placeholder text for now

[2018-01-18 14:33] amberreeves commented on #39
@cworthen see design and annotations

https://marvelapp.com/2h8b1hj/screen/37146139

[2018-01-18 14:34] amberreeves commented on #36
@cworthen see design and annotations

https://marvelapp.com/2h8b1hj/screen/37146139

[2018-01-18 14:35] amberreeves commented on #33
@cworthen see design and annotations

https://marvelapp.com/2h8b1hj/screen/37146139

[2018-01-18 16:30] tespenshade commented on #41
Imagining that consistency throughout the search box is helpful- maybe a "Select All" option next to "THEMES" and "INSTITUTIONS" makes the most sense. As to leaving it checked by default or not is something user testing could help with, if they want to see what users are doing most.
Copying @mtedeschi just to keep track of my suggestions vs. his

[2018-01-18 16:54] mtedeschi commented on #41
Second @tespenshade's comment. I'd lean towards "Select All / None" as text links, instead of a description as Joanna suggested.

My suggestion for having them all checked by default is that they are all search for by default, so it matches the behavior of the search. That said, the above solution could avoid needing to do that.

[2018-01-18 16:56] mtedeschi commented on #31
Just "Search" is good with me.

I'm open to @tespenshade's thoughts on how to make it stand out more. Wrapping it in a border like the buttons next to it is one idea, but may be too chunky.

[2018-01-18 17:18] tespenshade commented on #31
Re: Making search btn stand out more. I was expecting it to have the same functionality as "Themes" when I first clicked it, so one thought I had was putting the magnifying glass icon in place of the arrow. Magnifying glass icon could be blue, or treated similarly to the sorting buttons next to it.

Another thought was changing the text color to the accent blue, but worry there's a risk of it bein

[2018-01-18 22:16] amberreeves commented on #31
Evan has opted for just the word 'Search' for the link in the header.

She would like it styled like a button, like the ones to the right of it.

[2018-01-18 22:16] amberreeves commented on #41
@mtedeschi can you respond to this?

me: Advanced search Institution checkbox functionality: We suggested adding "Select All / Select None" as text links next to "Themes" and "Institutions", so the checkboxes will not be checked by default, the user will select one of these options.

evan: This makes visual sense, but it may not do enough to reduce confusion (which already exists) about what it me

[2018-01-19 16:05] tespenshade commented on #31
Img of revised search button treatment attached and on drive [here](https://drive.google.com/open?id=1OUblDErcUojGQv6dA_mhzAUzMLSt47W8)

![2018_01_19_collegewomen_phaseiiidesigns_v01_search](https://user-images.githubusercontent.com/20828448/35159562-9da83cfc-fd08-11e7-92b7-e8cf1a5898bf.jpg)

[2018-01-19 16:25] tespenshade commented on #41
Img of revised "search all" results treatment attached and on drive [here](https://drive.google.com/open?id=1OUblDErcUojGQv6dA_mhzAUzMLSt47W8)

Searching with all boxes checked or unchecked returns results from all institutions and this is shown in the header (next to themes) as "Institutions: All"

Searching within three or less institutions shows the names of the selected institutions. Searching

[2018-01-22 14:53] amberreeves commented on #31
@cworthen this button design for the Search link has been approved by the client.

[2018-01-22 14:54] amberreeves commented on #41
@cworthen the designs and the following functionality have been approved by the client:

Searching with all boxes checked or unchecked returns results from all institutions and this is shown in the header (next to themes) as "Institutions: All". Searching within three or less institutions shows the names of the selected institutions. Searching within 4+ institutions shows number of selected instit

[2018-01-24 02:35] cworthen commented on #40
I'm blocked on getting the theme listed on the item page to be linked to the search results for that theme.

[2018-01-24 02:36] cworthen commented on #36
For the little ‘x’ in a circle icon next to the filter, are there images of the ‘x’ icon you would like me to use or can I use font awesome to add the icon  ?

[2018-01-25 14:25] amberreeves commented on #51
Mailchimp credentials
user: CollegeWomenHistory@gmail.com
password: M@ryLy0nRulz

[2018-01-28 18:58] mtedeschi commented on #40
@cworthen: where/what are you stuck on (I can help a bit more if you describe what's not working)?

What you'll likely want to do is follow how we structured things for the subject links where it builds a URL like this: https://www.collegewomen.org/browse?theme_id=###

The ### is the id of the taxonomy term.

[2018-01-28 18:59] mtedeschi commented on #36
@cworthen you can use font-awesome, that's fine! If you'd prefer that I give you an image asset, just let me know and I can export that for you.

[2018-02-05 20:46] amberreeves commented on #37
looks good

https://bmc-d7-college-women.pantheonsite.io/

![browse open access portal](https://user-images.githubusercontent.com/20477677/35827892-a78ee8c0-0a8b-11e8-8fb6-0372d6d921d9.png)

[2018-02-05 20:49] amberreeves commented on #39
i'm not seeing the excerpt field. @mtedeschi can you double check this one?

https://bmc-d7-college-women.pantheonsite.io/browse?searchterm=sports

![browse open access portal 1](https://user-images.githubusercontent.com/20477677/35828037-2100988e-0a8c-11e8-802b-b77007419355.png)

[2018-02-05 20:50] amberreeves commented on #35
looks good

https://bmc-d7-college-women.pantheonsite.io/

![screen shot 2018-02-05 at 3 50 13 pm](https://user-images.githubusercontent.com/20477677/35828091-54b349b0-0a8c-11e8-8b3d-1c25a32e0eba.png)

[2018-02-05 20:53] amberreeves commented on #31
looks good to me. @mtedeschi can you confirm?

https://bmc-d7-college-women.pantheonsite.io/browse?searchterm=sports

![browse open access portal 2](https://user-images.githubusercontent.com/20477677/35828213-b18eedb0-0a8c-11e8-808a-a8057aaf6503.png)

[2018-02-05 20:54] amberreeves commented on #29
looks good.

https://bmc-d7-college-women.pantheonsite.io/browse?searchterm=sports

![browse open access portal 3](https://user-images.githubusercontent.com/20477677/35828249-d4e4bc40-0a8c-11e8-925f-aeb8a07b8afb.png)

[2018-02-05 20:57] amberreeves commented on #27
@cworthen this link should just say **Browse Collection** (without the word 'item'). sorry if there was confusion in the wording there!

also, can you check the hover state? i'm seeing the entire link in a gray bubble, but with the other links in that navigation, the text itself just turns gray. @mtedeschi can you confirm this link should behave the same way as the others?

https://bmc-d7-college-

[2018-02-05 21:04] amberreeves commented on #42
@cworthen i see the csv button that exports the search data at the bottom of the page here. this is supposed to say Export and there should be options for csv, txt, and json.

@mtedeschi can you give some direction on this, and on the placement and design of the button?

https://bmc-d7-college-women.pantheonsite.io/browse

![browse open access portal 4](https://user-images.githubusercontent.com/20

[2018-02-05 21:09] cworthen commented on #33
I'm having blockers with the integrating themes into the advanced search modal. I got them to show but the search functionality isn't there.  I'm still trying to figure how to get the themes 'results' to show when its being selected from the advanced search. @mtedeschi

[2018-02-05 21:10] cworthen commented on #32
removing subjects from advanced search, once subjects is removed -- search results no longer appear. @mtedeschi

[2018-02-05 22:26] cworthen commented on #39
@amberreeves for the excerpt field, you have to manually add it in,  just like the other content such as description, collection, etc.
![screen shot 2018-02-05 at 5 19 23 pm](https://user-images.githubusercontent.com/16109830/35831738-c4f5c084-0a98-11e8-87e4-e3209e8a6a23.png)

I only added one as an example. You can find by hitting enter on the homepage, it should be the first item on the list.

!

[2018-02-05 23:35] mtedeschi commented on #31
Looks good!

[2018-02-06 00:24] mtedeschi commented on #27
@amberreeves, @cworthen: agreed on the hover state. If we can just remove the gray background, that should do it.

[2018-02-06 00:27] mtedeschi commented on #28
Just to be clear, all this task needs is to check if its the full results and add "[All]" to the end of the string from #29.

[2018-02-06 00:30] mtedeschi commented on #32
@cworthen: we might just need to leave the ?subject= part of the querystring blank to return all results. Which might mean just hiding that item from the search instead of removing it entirely.

[2018-02-06 00:43] mtedeschi commented on #33
I think this might be a naming problem. It looks like the checkboxes are all named matching the way its set up for institutions, which could be causing the problem. I'd take a look at changing those naming conventions first. See below:

<img width="826" alt="screen shot 2018-02-05 at 7 32 43 pm" src="https://user-images.githubusercontent.com/842387/35835919-9030b3be-0aab-11e8-94a5-1e9c998a8c74.png

[2018-02-06 00:49] mtedeschi commented on #42
@cworthen, @amberreeves: apologies, I didn't give you a design for this. If we can just have those labels displayed as you have them here, centered, with a bit of padding above/below, that should work.

Ideally we can have an icon for CSV, JSON, TXT downloads.

[2018-02-09 23:19] mtedeschi commented on #33
Also, take a look at html.tpl.php starting at line 284:

[code]

[2018-02-09 23:23] mtedeschi commented on #30
Located in the View:
/admin/structure/views/view/browse/edit

[2018-02-09 23:25] mtedeschi commented on #40
Use the same thing as subjects above:

[code]

[2018-02-09 23:31] mtedeschi commented on #28
One approach for how to do this is to check the URL path for a query string. If it shows a query string (e.g. there are filters applied) then show the "X items found" message, otherwise show "Viewing all XXXX items".

[2018-02-12 03:22] cworthen commented on #33
@mtedeschi  Wanted to give an update of where I left off. Still working on some issues with integrating the themes.  Results are not showing when themes or institutions are selected from the pop-up modal, I added a url below as example of how institutions results don't show:

https://bmc-d7-college-women.pantheonsite.io/browse?searchterm=&start_year=&end_year=&subject=&type=&institution=%20Barnard

[2018-02-12 15:57] mtedeschi commented on #33
@cworthen: can we just use the theme_id instead then? It doesn't make a difference to us/the client if the theme uses id or name in the URL. If we set the value of the checkboxes to the ID so the form searches by ID, that could solve it.

[2018-02-13 15:22] mtedeschi commented on #32
@cworthen: this isn't working properly—&subject= is getting "undefined" in the search which does not return results. You'll want to just have it return blank or remove &subject= entirely.

[2018-02-13 15:23] mtedeschi commented on #30
@cworthen: this is incomplete. The link text needs to read: "Back to Explore Collections"

[2018-02-19 13:08] cworthen commented on #41
@mtedeschi 90% of this task is completed, I hit a blocker with remove the 'x' icon and removing theme from search results prompting a page refresh

[2018-02-19 13:38] cworthen commented on #41
@mtedeschi @amberreeves  I think is completed, please let me know if there's anything I overlooked or if something needs to be tweaked. Thank you!

[2018-02-19 13:46] cworthen commented on #40
@mtedeschi @amberreeves I tried this code and it linked the themes names but its not going to the correct destination, instead its going to a blank page. I also tried other methods and I'm having difficultly getting the themes to link to the node pages.

[2018-02-19 13:48] cworthen commented on #40
@mike @amberreeves I tried this code and other methods, and still having blockers linking the theme name to the right location/node page. It appears to be linked but it goes to a blank page.

[2018-02-19 13:50] cworthen commented on #38
@mike  Unfortunately I'm still blocked on getting the themes to populate in the search results, I tried editing the view, which works like it should but will not reflect on the front page.

[2018-02-19 14:50] amberreeves commented on #41
@mtedeschi i see the functionality as described by the client is working here
https://bmc-d7-college-women.pantheonsite.io/

Searching with all boxes checked or unchecked returns results from all institutions and this is shown in the header (next to themes) as "Institutions: All".
Searching within three or less institutions shows the names of the selected institutions.
Searching within 4+ institut

[2018-02-19 14:52] amberreeves commented on #39
@mtedeschi this looks good to me. can you confirm?

[2018-02-19 14:54] amberreeves commented on #33
@mtedeschi themes are present in the search window and all checked by default. can you confirm this is working as expected?

[2018-02-19 14:56] amberreeves commented on #32
subject field is not longer appearing in the search window. @mtedeschi can you confirm?

[2018-02-19 15:02] amberreeves commented on #30
the text that displays when no items found is correct.
No items found.
Back to Explore Collections (link to the Search results page, is this correct?)

However, there are some other issues with this page. The csv/txt/json buttons are displaying and linking to blank files and the 'items found' text at the top should say '0 items found'

![browse open access portal](https://user-images.githubusercon

[2018-02-19 15:11] amberreeves commented on #27
the hover state is gone but the text here still needs to be edited. it should say Browse Collection (without the word 'item')

[2018-02-19 15:14] amberreeves commented on #42
@mtedeschi can you confirm this is what you're thinking for this?

https://bmc-d7-college-women.pantheonsite.io/browse?searchterm=sports&start_year=&end_year=&type=&institution=All&theme_id=All

![browse open access portal 2](https://user-images.githubusercontent.com/20477677/36384539-a0173dae-155d-11e8-99bb-5cab10cb0baa.png)

[2018-02-19 15:17] amberreeves commented on #28
i'm not seeing the [All] here. @mtedeschi can you confirm?

[2018-02-19 15:18] amberreeves commented on #40
@mtedeschi can you take a look?

[2018-02-19 15:20] amberreeves commented on #38
@mtedeschi can you take a look?

themes are not populating on the search results page

https://bmc-d7-college-women.pantheonsite.io/browse

[2018-02-19 15:20] amberreeves commented on #36
@mtedeschi can you take a look?

[2018-02-19 17:04] mtedeschi commented on #27
Fixed.

[2018-02-19 17:06] mtedeschi commented on #28
This is complete.

[2018-02-19 17:07] mtedeschi commented on #29
This is done. It should only show "Viewing all..." when all results in the set are returned.

[2018-02-19 17:21] mtedeschi commented on #30
Fixed the blank items found issue. Looking into hiding the icons for downloads.

[2018-02-19 17:24] mtedeschi commented on #42
Files are returning properly (had to tell it to return all per view).
Appearance is fine.

[2018-02-19 17:35] mtedeschi commented on #40
Fixed.

[2018-02-19 17:38] mtedeschi commented on #41
I like the consistency. Going to flag as good to go.

[2018-02-19 17:40] mtedeschi commented on #39
Looks good. Stripped extra p tags out so they don't conflict with styling.

[2018-02-19 17:48] mtedeschi commented on #38
Getting the links to populate, but need to get theme names to appear. Pausing for now.

[2018-02-19 17:49] mtedeschi commented on #33
Confirmed.

[2018-02-19 17:50] mtedeschi commented on #32
Confirmed.

[2018-02-19 19:13] cworthen commented on #53
Hey @amberreeves what is items 6b and 6c, just wanted to clarify since it says to only remove format column if more space is needed.

[2018-02-19 19:16] amberreeves commented on #53
these are items 6b and 6c

https://github.com/InteractiveMechanics/CollegeWomen_Drupal7/issues/38

https://github.com/InteractiveMechanics/CollegeWomen_Drupal7/issues/39

@mtedeschi can you let @cworthen know whether you think we need to do this?

[2018-02-19 19:20] mtedeschi commented on #38
Added in.

[2018-02-19 19:41] mtedeschi commented on #33
Fixed.

[2018-02-19 20:45] mtedeschi commented on #36
This is nearly done.

[2018-02-20 02:15] mtedeschi commented on #36
Okay, done.

[2018-02-20 15:10] cworthen commented on #53
Hey @mike would like me to go ahead and remove the format column ?

[2018-02-20 15:11] mtedeschi commented on #53
Let's pause on this one for now.

[2018-02-20 15:32] cworthen commented on #51
@amberreeves  I tried to login into mail chimp with creds provided and it couldn't find the account, should I create an account with the creds provided ?

[2018-02-20 16:15] amberreeves commented on #51
i'm checking with the client now. i'll let you know as soon as i have more info!

[2018-02-20 17:05] cworthen commented on #50
@mike there's already a transcript field for the browse item and therefore, I can't create another field with the same machine name..should I give this field another name or delete transcript field ? Also, is the field linking to an external source for the transcript or is it opening a txt file that has the transcript ?
![screen shot 2018-02-20 at 11 58 24 am](https://user-images.githubusercontent

[2018-02-20 18:16] amberreeves commented on #51
ok she said the user name is just

 CollegeWomenHistory

(no email address attached)
and sorry for the hold up!

[2018-02-20 18:27] cworthen commented on #51
Thanks @amberreeves!

[2018-02-20 18:38] cworthen commented on #45
@amberreeves Since the client still needs to provide feedback regarding this task, should I put on hold ?

[2018-02-20 18:40] cworthen commented on #44
Hey @amberreeves did the client provide text for the menu ?

[2018-02-20 19:20] mtedeschi commented on #50
The transcript would live elsewhere, we could remove and/or repurpose. I don't think this field has data in it, yet.

[2018-02-20 19:21] mtedeschi commented on #45
Yeah, you can hold on this.

[2018-02-20 19:21] mtedeschi commented on #44
Yeah, you can hold on this.

[2018-02-20 19:22] amberreeves commented on #44
i sent an email to the client asking about this, will keep you updated.

[2018-02-20 19:22] amberreeves commented on #45
i sent an email to the client asking about this, will keep you updated.

[2018-02-20 19:26] amberreeves commented on #27
i still see the word 'Item' here -  in the nav item that is supposed to say Explore Collections

https://bmc-d7-college-women.pantheonsite.io/

![college women open access portal](https://user-images.githubusercontent.com/20477677/36444686-064273ea-164a-11e8-9adb-52fbf8366f96.png)

[2018-02-20 19:27] amberreeves commented on #47
this looks good to me. @mtedeschi to confirm.

https://bmc-d7-college-women.pantheonsite.io/node/16137

[2018-02-20 19:29] cworthen commented on #27
@amberreeves removing right now

[2018-02-20 19:35] cworthen commented on #27
@amberreeves fixed

[2018-02-21 03:44] cworthen commented on #50
repurposing the transcript field

[2018-02-21 03:47] cworthen commented on #51
Side note, I'll have to a tiny bit of styling to the form for mobile screens.

[2018-02-21 14:47] amberreeves commented on #48
@cworthen i see that when i click into the search fields, the placeholder text disappears, which is great. the other piece of this task is to include the

e.g.,

before the placeholder dates in the date fields. So they should look like this:

e.g., 1800

and

e.g., 2015

i realize that wasn't super clear in the client's original request! thanks!

![college women open access portal 1](https://user-

[2018-02-21 14:48] amberreeves commented on #51
@mtedeschi do you want to give direction on mobile styling?

[2018-02-21 14:49] amberreeves commented on #50
@mtedeschi can you look at this one?

[2018-02-21 14:55] amberreeves commented on #49
@cworthen i see the Full HTML as the WYSIWYG default in the Article content type, but not in the others. Can you change this on these content types as well?

Basic page
Browse item
Feed item
Home page

[2018-02-21 15:12] mtedeschi commented on #51
A few adjustments (make sure to reference the design from Marvel: https://marvelapp.com/2h8b1hj/screen/37146136).

- [ ] The block should only appear on blog post nodes, not every page.
- [ ] Revise styling to match design treatments (apologies, I realize I left in placeholder text when I provided you the designs: It could just be "Sign up for updates", the input, and "Submit ->")
- [ ] Is it func

[2018-02-21 15:15] mtedeschi commented on #50
@cworthen: can you provide a link/example so we can see where its implemented?

[2018-02-21 15:16] mtedeschi commented on #47
This looks good.

[2018-02-22 03:57] cworthen commented on #51
@mike, confirmation that form is working, I used test@interactive:
![screen shot 2018-02-21 at 10 54 46 pm](https://user-images.githubusercontent.com/16109830/36519600-76a103e8-175a-11e8-88ca-88af3540f24c.png)

[2018-02-22 04:25] cworthen commented on #50
@mike sure thing, you can view the transcript here: https://bmc-d7-college-women.pantheonsite.io/node/16154

![screen shot 2018-02-20 at 11 58 24 am](https://user-images.githubusercontent.com/16109830/36520340-7a7edbd0-175e-11e8-8455-47fefb2d8069.png)

[2018-02-22 14:50] amberreeves commented on #52
looks good. @cworthen can you remove the HOORAY! placeholder text before we push this live? i'm hoping the client has text ready, but if not, we can leave the tooltips blank and they can enter it whenever they have it.

[2018-02-22 14:51] amberreeves commented on #49
looks good

[2018-02-22 14:52] amberreeves commented on #48
looks good

[2018-02-22 14:56] amberreeves commented on #43
@cworthen sorry about the confusion here. i see the tooltips on the search results page but not in the Advanced Search window.

![college women open access portal 2](https://user-images.githubusercontent.com/20477677/36545319-a2a026ac-17b6-11e8-92b1-6c805499b00e.png)

[2018-02-22 23:49] cworthen commented on #43
Hi @amberreeves ,

The tooltips are there, sometimes if don't see the changes right away, you may have to clear the cache in order for the changes to appear. To clear the cache select configuration on the top menu, then scroll down to performance (under development) and select 'clear all caches'.

![screen shot 2018-02-22 at 6 44 36 pm](https://user-images.githubusercontent.com/16109830/36570534-8

[2018-02-22 23:58] cworthen commented on #46
Hi @amberreeves apologies, I realized I didn't add a comment and show an example of I what I added. Here's an image of the exposed identifier and where's it's located on the item pages.
![screen shot 2018-02-22 at 6 57 10 pm](https://user-images.githubusercontent.com/16109830/36570928-5b54a92a-1802-11e8-98da-75413fe6e70c.png)

[2018-02-23 11:39] cworthen commented on #52
@amberreeves sure thing,  text removed.

[2018-02-23 15:09] amberreeves commented on #43
looks good

[2018-02-23 15:23] amberreeves commented on #38
@mtedeschi i'm still not seeing themes in the themes column on the search results page. do these items just not have themes assigned to them yet, or does this need more work? i've cleared the cache in drupal.

example
https://bmc-d7-college-women.pantheonsite.io/browse?subject=&institution=All&start_year=&end_year=&title=&searchterm=art&type=&theme_id=All&sort_by=title&sort_order=ASC

[2018-02-23 15:27] amberreeves commented on #40
the themes links are still going to 404 pages.

one example, if you click Athletics & Physical Education on this page
https://bmc-d7-college-women.pantheonsite.io/node/14061

you get this page
https://bmc-d7-college-women.pantheonsite.io/taxonomy/term/

[2018-02-23 15:30] amberreeves commented on #30
still seeing this @mtedeschi, can you take a look?

https://bmc-d7-college-women.pantheonsite.io/browse?searchterm=chaos&start_year=&end_year=&type=&institution=All&theme_id=All

[2018-02-23 15:36] amberreeves commented on #40
nevermind, wrong branch

[2018-02-23 15:36] amberreeves commented on #38
evermind, wrong branch

[2018-02-23 15:39] amberreeves commented on #30
nevermind, wrong branch. however, this is what i'm seeing now on the right branch.

https://dev-college-women.pantheonsite.io/browse?searchterm=ouija

![browse open access portal](https://user-images.githubusercontent.com/20477677/36602334-c65df612-1885-11e8-994b-619046ef651d.png)

[2018-02-25 17:55] cworthen opened #54 "Deploy recent work from dev to test"

[2018-02-25 17:55] #54 closed

[2018-02-25 20:13] mtedeschi commented on #30
It looks like we need to make sure that the "Viewing all items" should be the "0 items found" message.

[2018-02-25 20:17] mtedeschi commented on #46
Looks good!

[2018-02-25 20:20] mtedeschi commented on #50
@cworthen: I think something got lost in translation between the original issue and your question (or perhaps I misunderstood your question).

This should be a simple short text field for a URL to an external txt file. When they import their data into Drupal, it would store the link to the txt file. On the front end, it should just check for a value and conditionally show a link that says somethin

[2018-02-25 20:23] mtedeschi commented on #51
@cworthen: sorry, I think I understand. So when you submit the form, it adds the user to the Mailchimp list? If that's what happens, that's great. I just assumed it would behave like it does on our site (see here for an example: http://interactivemechanics.com/news/).

[2018-02-26 19:10] cworthen commented on #51
@mike, exactly, when a user signs up, they're automatically added to the list

[2018-02-27 15:37] cworthen commented on #30
@mike @amberreeves  I was able to get the 0 items found to work, it changes the way 'viewing all' items is display. For example, `<?php	if (strpos($_SERVER['REQUEST_URI'], "start") == false){ ?>`it won't print no items found even though 'start' is not in the url. I had to set the condition to true, to this 'no items found' to show. By doing that, 'Viewing all item' only works if visitors use the a

[2018-02-27 15:44] cworthen commented on #50
@mike @amberreeves this is completed, can be viewed here: https://dev-college-women.pantheonsite.io/node/15040

[2018-02-27 16:31] mtedeschi commented on #50
Looks good as a sample.

[2018-02-27 17:32] mtedeschi commented on #51
Made a few minor styling adjustments. Good to go on dev.

[2018-02-27 17:33] mtedeschi commented on #30
Good to go.

[2018-03-05 15:04] amberreeves opened #55 "[x] Search results page: Column sorting isn't working"
Clicking the arrow icon next to a column header to resort the search results by that column is working on the live site, but not on the dev site. We just want to ensure that it will continue to work on the live site after this deployment.

[2018-03-05 15:12] amberreeves commented on #27
please add the **s** to the end so that this says

**Explore Collections**

[2018-03-05 15:20] amberreeves opened #56 "[x] Search results page: Theme filter not refreshing"
If I click Explore Collections and view the search results page, then I click one of the theme links in the Themes column, the page refreshes, shows me just items with that theme, and the theme name/filter displays in the header. When I click the x next to the theme name/filter, to refresh the page, nothing happens.

![browse open access portal 1](https://user-images.githubusercontent.com/20477677

[2018-03-05 15:24] amberreeves commented on #30
From Evan
“Viewing all # items” should only be applied when you're viewing all items on the site.
Currently when I search from the search window and it pulls up a limited selection of results I get the “# items found” language, which is good.
But if I narrow the results further by clicking a theme link in the Theme Column, or Dates, it says “Viewing all # items” which is weird if it says “82” not

[2018-03-05 15:26] amberreeves commented on #31
Evan has asked that we change the label on this search button back to Advanced Search.

![browse open access portal 2](https://user-images.githubusercontent.com/20477677/36983155-a661ffe8-205f-11e8-892b-bf742134ec9d.png)

[2018-03-05 15:36] amberreeves commented on #43
can you please add the following text to the Themes tool tip in both the advanced search pop up and on the search results page? this is text that evan drafted and she wants to see how the length of the text affects the visual design of the tool tip.

_There are common topics that emerge across the collections represented in College Women. We call these "themes." The contributing institutions have

[2018-03-05 15:51] amberreeves commented on #47
Evan has asked that we revise this text again so that it says

Click image to leave collegewomen.org and view the item in its home repository.

[2018-03-06 15:02] cworthen commented on #30
@amberreeves @mtedeschi Was there a decision made on how to proceed ? Should the intent be explained or should more be done with the text  ?

[2018-03-06 15:33] cworthen commented on #30
I think if the original intent is to say you're viewing all items that match the search filters, then that could be explained to the client.  Plus users can see the theme selected underneath, which will signal that they're 'viewing all' results from the filter/link selected.

[2018-03-06 21:29] mtedeschi commented on #30
I think there is an easy solution:
The browse page checks for the "?searchterm=" piece of the querystring to determine whether or not to show the "Viewing all [x] items" phrasing or not. The themes links don't add that, so if we just add "?searchterm=" to the links that should resolve this issue.

[2018-03-06 21:38] cworthen commented on #30
oh cool, that what I did to fix #56 Theme filter not refreshing...looks like this solution fixed two problems instead of one, which is always a beautiful thing. Thanks Mike!

[2018-03-07 20:18] amberreeves commented on #56
looks good

[2018-03-07 20:19] amberreeves commented on #55
looks good

[2018-03-07 20:20] amberreeves commented on #47
looks good

[2018-03-07 20:21] amberreeves commented on #43
looks good

[2018-03-07 20:23] amberreeves commented on #31
looks good

[2018-03-07 20:24] amberreeves commented on #30
looks good

[2018-03-07 20:24] amberreeves commented on #27
looks good

[2018-03-08 14:57] mtedeschi commented on #40
One thing I found was that we need to implement the addition of the "?searchterm=" querystring to this and subjects so we have the proper "X items found" message appearing.

[2018-03-08 15:54] amberreeves commented on #44
this is something that happens automatically when the client updates the header text in the WYSIWYG.

[2018-03-08 15:54] #44 closed

[2018-03-08 17:37] amberreeves opened #57 "[x] Add tool tip text"
**Advanced Search pop up window tool tip text**
Date(s)
Search for records by year or within a range of years; note that date formats are not standardized across the collections

Format
Narrow your search by format type

Institutions
Restrict your search to one or more institutions, or search across all collections

Themes
Narrow your search to items with one or more themes applied, or search acro

[2018-03-09 15:25] amberreeves commented on #57
looks good

[2018-03-09 15:27] amberreeves commented on #40
@mtedeschi can you confirm this one?

[2018-03-09 16:21] mtedeschi commented on #40
Good!

[2018-03-09 19:22] #56 closed

[2018-03-09 19:22] #55 closed

[2018-03-09 19:22] #53 closed

[2018-03-09 19:23] #52 closed

[2018-03-09 19:24] #48 closed

[2018-03-09 19:24] #47 closed

[2018-03-09 19:24] #46 closed

[2018-03-09 19:25] #45 closed

[2018-03-09 19:25] #43 closed

[2018-03-09 19:26] #42 closed

[2018-03-09 19:27] #41 closed

[2018-03-09 19:27] #40 closed

[2018-03-09 19:27] #39 closed

[2018-03-09 19:27] #38 closed

[2018-03-09 19:27] #37 closed

[2018-03-09 19:28] #36 closed

[2018-03-09 19:29] amberreeves commented on #35
i'm still seeing all the old formats in the advanced search drop down

![screen shot 2018-03-09 at 2 29 24 pm](https://user-images.githubusercontent.com/20477677/37225944-534d3530-23a6-11e8-91b1-b87ea1384af4.png)

[2018-03-09 19:41] #34 closed

[2018-03-09 19:42] #31 closed

[2018-03-09 19:42] #32 closed

[2018-03-09 19:42] #30 closed

[2018-03-09 19:43] #29 closed

[2018-03-09 19:43] #28 closed

[2018-03-09 19:43] #27 closed

[2018-03-09 19:44] #49 closed

[2018-03-09 19:46] #50 closed

[2018-03-09 21:24] amberreeves commented on #35
we're waiting until monday to see if this updates when the Drupal 12 hour cache lifespan passes.

[2018-03-11 21:58] cworthen commented on #35
Hey @amberreeves @mtedeschi, I looked more into this and found a solution. I don't it kept showing old formats in drop down but I added a line of css to show only the first six formats:
 `.itemtype-filter option:nth-of-type(1n+7){
    display:none;
  }`

Luckily, this did the trick.

[2018-03-12 13:30] mtedeschi commented on #35
Looks good!

[2018-03-12 13:30] #35 closed

[2018-03-15 13:53] amberreeves commented on #57
Please replace the Keyword Search tooltip placeholder text with this text:

Keyword search looks for matching terms in any metadata field of the record

[2018-03-15 17:54] cworthen commented on #57
This is completed and pushed to live

[2018-03-16 14:45] amberreeves commented on #57
looks good

[2018-03-16 14:45] #57 closed

[2018-07-23 18:28] amberreeves opened #58 "[x] Remove beta icon from the header"
![college women open access portal](https://user-images.githubusercontent.com/20477677/43095704-b2aa085c-8e84-11e8-94be-bf9faa2a3e80.png)

[2018-07-23 18:36] amberreeves opened #59 "[x] Item page: Photograph images not displaying"
Most of Wellesley's and Bryn Mawr's items in the Photographs format have broken thumbnails and images on the item pages.
Seemingly for Evan only, and only when using Chrome. Nobody else has been able to reproduce this bug.
Letters/Correspondence and Scrapbooks formats are not affected.
The images that _are not_ affected by this are: nodes 13960 and 13961, nodes 14505 - 14516, and 14518 - 14522.

@

[2018-07-31 19:41] amberreeves opened #60 "[x] Admin log in page: Add a link to reset password"
Add a link to reset password on https://www.collegewomen.org/user

[2018-07-31 19:45] amberreeves opened #61 "[x] Home page: Italicize full title text"
on the Home page, italicize the entire title "Documenting the History of Women in Higher Education" text (instead of having only Higher Education in italics)

[2018-07-31 19:47] amberreeves opened #62 "[x] Search window: Edit Search the Collections link text"
In Advanced Search window, add an 's' to the Search the Collection link text so it says Search the Collections.

![college women open access portal 1](https://user-images.githubusercontent.com/20477677/43483212-ef0ffafe-94d8-11e8-954e-3d29d0770628.png)

[2018-07-31 19:48] amberreeves opened #63 "[x] Search window: Change Format selection field from dropdown to check boxes"
In the Advanced Search dropdown menu for Format:, can we make this checkboxes? dropdown means you can only search one type at a time, people wanted to be able to combine format types in a search.

![college women open access portal 2](https://user-images.githubusercontent.com/20477677/43483294-3a9eea5c-94d9-11e8-8e17-a8d45686ee3d.png)

[2018-07-31 19:54] amberreeves opened #64 "[x] Search results: Display all filters at top of the page"
on the search results page, the filters selected display at the top, but it's only the  Institution, Theme, and Format filters that are included. Date and Keyword filters are not.

Can we display the date and keyword filters here as well?

@mtedeschi an example below, i also entered the dates 1900-1950, and that does not show up as a filter at the top of the page with the institution, theme, and f

[2018-07-31 19:56] amberreeves opened #65 "[x] Search results: Remove Format name from title/excerpt column"
on the Explore Collections page: remove the format name from the title/excerpt column

![browse open access portal 1](https://user-images.githubusercontent.com/20477677/43483691-4d4a841c-94da-11e8-90b6-9ef68942b3f1.png)

[2018-07-31 19:57] amberreeves opened #66 "[x] Search results: Include identifier in JSON/CSV/TXT export"
on the Item page: item identifier appears to be Drupal-supplied rather than identifier supplied through TSV. (Sorry we were unclear internally about which we were requesting.) Users would like to see the TSV item identifier when viewing the record on the backend. Would it be possible to have that identifier included in the JSON/CSV/TXT export as well?

[2018-07-31 19:59] amberreeves opened #67 "[x] Search window: Add Select/Unselect checkboxes for Institutions and Themes"
in the Advanced Search window, add a Select All/Unselect All checkbox for Institutions and Themes. checkboxes should be unchecked by default.

![browse open access portal 2](https://user-images.githubusercontent.com/20477677/43483861-c16ac5d2-94da-11e8-94f5-a71165108fe5.png)

[2018-08-02 13:52] mtedeschi opened #68 "[x] REPOX: Mail server not properly configured (emails not sending)"

[2018-08-08 20:41] mtedeschi commented on #59
@amberreeves I don't see any reason why this would be happening. I think its a non-issue or Chrome issue, perhaps? Something cached, if only appearing in Chrome on one person's computer. Going to flag as wontfix.

[2018-08-08 20:42] mtedeschi commented on #61
Ready for review on production / live site.

[2018-08-08 21:00] mtedeschi commented on #62
Ready for review on staging.

[2018-08-08 21:00] mtedeschi commented on #58
Ready for review on staging.

[2018-08-09 14:11] amberreeves commented on #58
looks good on staging

[2018-08-09 14:14] amberreeves commented on #60
@mtedeschi i don't see the reset password feature, and i see some code at the bottom of the screen. can you take a look?

![user account open access portal](https://user-images.githubusercontent.com/20477677/43904557-f167cfda-9bbc-11e8-9a1d-6f7091e12f73.png)

[2018-08-09 14:15] amberreeves commented on #61
looks good on production

[2018-08-09 14:15] #61 closed

[2018-08-09 14:16] amberreeves commented on #62
looks good on staging

[2018-08-10 00:41] mtedeschi commented on #60
Ooops, it was on staging. I confirmed and pushed live now.

[2018-08-10 00:44] #58 closed

[2018-08-10 00:44] #62 closed

[2018-08-13 13:37] amberreeves opened #69 "[x] Search results: Filters not displaying correctly at top of page"
From Evan: the Themes on the filters menu are behaving strangely; it often doesn't display all themes searched for, also there are sometimes duplicates and multiple X buttons next to one another that don't have an obvious pairing with a term

From Amber
I tested for this and could not recreate the issue.
Here is an example of a search with three themes:
![screen shot 2018-08-13 at 9 34 32 am](http

[2018-08-13 13:42] amberreeves opened #70 "[x] Navigation: Explore Collections disappears on tablet"
on tablet size, the Explore Collections main navigation item disappears. can you add it back in?

![screen shot 2018-08-13 at 9 40 55 am](https://user-images.githubusercontent.com/20477677/44035263-190ec1ce-9edd-11e8-8fe6-35c5fe578a3b.png)

[2018-08-13 13:52] amberreeves opened #71 "[x] Search results: Changed text for filtered results to ## Items Found"
from the home page i click the Explore Collections main nav item, i see **Viewing All 3453 Items**. this is correct.
![explore collections nav](https://user-images.githubusercontent.com/20477677/44035523-b55e08aa-9edd-11e8-9805-eea386a51832.png)

from there, i open the Advanced Search window and narrow my search by entering the keyword Sports, i see **112 Items Found**. this is correct.
![sports](

[2018-08-13 13:54] amberreeves opened #72 "[x] Admin: Editing/saving an existing blog post creates a new node"
when I hit “save” on an unpublished blog post, then view, go back and edit and “save” again, it’s creating a new node each time. Is there a way to do it so that it knows to update the existing node rather than creating a new one?

[2018-08-13 13:57] amberreeves opened #73 "[x] Item page: Expose institutional identifier (Not Drupal node number)"
Requested in last round of development but we got the Drupal node, whereas we meant the identifier supplied in the TSV. This should replace the Drupal-supplied identifier on the item page, which we don't need to see.

If possible we would like to have the identifier included in the JSON/CSV/TXT export as well.

![screen shot 2018-08-13 at 9 56 01 am](https://user-images.githubusercontent.com/20477

[2018-08-13 14:08] amberreeves opened #74 "[x] Data export: Issues with various formats"
From the Home page I entered "vassar" in the search box.
I then clicked each export format to download my results set.
Here is what I saw:

**CSV** only one column header/field label displays, article_year. i don't see the column labels for the title, URL, date, etc.
**example:** https://drive.google.com/file/d/1P2EGDteHO-LpMAY8_BZC6z4nOwUBwafZ/view?usp=sharing

**JSON** the JSON data contained vi

[2018-08-16 13:48] amberreeves opened #75 "[x] Search: Change how Themes results work"
Currently, when you check a selection of themes on the Advanced Search window, it searches only for items to which every single one of those themes is applied (boolean "or"). We would like to change it to pull items containing any of the checked themes, instead (boolean "and").

[2018-08-21 16:37] mtedeschi commented on #69
I'm also not able to recreate this as described. Can we get more information and steps to recreate it from Evan?

[2018-08-21 16:57] mtedeschi commented on #72
This isn't an issue.

If you create a new post, you're on: https://www.collegewomen.org/node/add/article
If you publish and then press the back button, you're not editing that page—you're creating a new one. You need to first navigate to the edit view to make adjustments.

[2018-08-21 19:06] amberreeves commented on #71
looks good on staging

![browse open access portal](https://user-images.githubusercontent.com/20477677/44423295-c4f41800-a553-11e8-9478-e8a5adb8db4a.png)

[2018-08-21 19:08] amberreeves commented on #67
i'm experiencing a little issue with this. when i click the Select All link, all boxes are checked. then i click the Deselect All link, all boxes are unchecked. but if i then click Select All again, nothing happens.

[2018-08-21 19:09] amberreeves commented on #65
looks good on staging

[2018-08-21 19:14] amberreeves commented on #72
sent to the client

[2018-08-21 19:14] #72 closed

[2018-08-21 19:55] amberreeves commented on #73
looks good on staging

![archery open access portal](https://user-images.githubusercontent.com/20477677/44425724-af362100-a55a-11e8-968a-2fc77c4b8eb1.png)

[2018-08-21 19:56] amberreeves commented on #66
i don't see it on the csv or txt file

[2018-08-21 19:57] #65 closed

[2018-08-21 19:57] #67 closed

[2018-08-21 19:57] #71 closed

[2018-08-21 19:57] #73 closed

[2018-08-21 19:58] amberreeves commented on #66
looks good on live site

[2018-08-21 19:58] #66 closed

[2018-08-28 15:46] mtedeschi commented on #75
This is live on the production site. I made this an "AND" instead of an "OR".

[2018-08-28 16:06] mtedeschi commented on #63
This is ready for testing on the test site:
http://test-college-women.pantheonsite.io/

[2018-08-28 16:06] mtedeschi commented on #70
This is ready for testing on test:
http://test-college-women.pantheonsite.io/

[2018-08-28 16:23] mtedeschi commented on #74
Updated on production. Notes on what changed:

CSV now has field labels.
TXT now has field labels.
JSON is now showing date, with appropriate labels.

[2018-08-28 16:51] mtedeschi commented on #63
I realized this may not actually make sense... none of them have more than one Format. I'm going to roll this change back so I can push other live, but we should punt this back to the client first.

[2018-08-28 17:42] mtedeschi commented on #63
Okay, actually good to go now.

[2018-08-28 17:49] mtedeschi commented on #64
Now that formats are changed, I will plan to implement this across all filters.

[2018-08-28 19:41] amberreeves commented on #63
looks good on test site

[2018-08-28 19:42] amberreeves commented on #70
looks good on test site

[2018-08-28 19:47] amberreeves commented on #74
looks good

[2018-08-28 19:47] #74 closed

[2018-08-28 19:47] #75 closed

[2018-08-28 19:49] #59 closed

[2018-08-28 20:01] amberreeves commented on #63
can you make one adjustment? when i select more than one format filter, the formats display at the top of the search results page like this, the second one doesn't have the X out icon

![cw](https://user-images.githubusercontent.com/20477677/44747570-7c040c80-aadb-11e8-8b3d-2c2f75b727bf.png)

like this
![browse open access portal 1](https://user-images.githubusercontent.com/20477677/44747620-9ccc6

[2018-08-31 17:51] amberreeves opened #76 "[x] Edit site title that displays in browser tab"
remove the "Open Access Portal" part from the site title that displays in the browser tab, so it just says "College Women"

[2018-08-31 17:52] amberreeves commented on #60
evan and martha both tested this and they're not receiving the password reset emails.

[2018-09-18 14:06] mtedeschi commented on #60
I fixed this. The SMTP module wasn't authenticating, so I disabled it and the email worked.

[2018-09-18 18:33] amberreeves commented on #64
this looks good on the test site

![browse open access portal 2](https://user-images.githubusercontent.com/20477677/45708485-92880b80-bb4f-11e8-9a90-16d942ab4b08.png)

![browse open access portal 3](https://user-images.githubusercontent.com/20477677/45708596-de3ab500-bb4f-11e8-82ca-5c0de68a2293.png)

[2018-09-18 18:38] amberreeves commented on #63
looks good on the test site

[2018-09-18 18:39] amberreeves commented on #76
i'm still seeing it as

College Women | Open Access Portal

[2018-09-18 18:41] amberreeves commented on #69
this is being resolved with the other filter changes

[2018-09-18 18:41] #69 closed

[2018-09-18 19:17] mtedeschi commented on #76
The title is now set to be...
Homepage = "College Women | Documenting the History of Women in Higher Education"
Other Pages = "[PAGE TITLE] | College Women"

You'll see this once it's all live since its a theme and config change.

[2018-09-18 19:29] #63 closed

[2018-09-18 19:29] #64 closed

[2018-10-08 17:53] #76 closed, assigned to amberreeves

[2018-10-09 14:18] amberreeves opened #77 "[x] Pantheon/DNS/performance tier issue"
From Eric
Pantheon recently did a change-over of their systems, and in the process put us in a high-performance category for which they are charging nearly $500 a month, rather than the $150 we have been used to.   We can move to a lower tier, but it involves make a change to the DNS in our site.  I've pasted in the chat instructions from Pantheon below.  Is this something you can do?
Thanks!

Fro

[2018-10-10 23:11] mtedeschi commented on #77
@amberreeves Bryn Mawr College (our pal, Vince) manages the SSL certs and DNS information, so I don't believe this is something we can change. I'd suggest punting this back to him, since it seems like its out of our domain.

[2018-10-11 13:51] amberreeves commented on #77
passed to eric/vince

[2018-10-11 13:51] #77 closed, assigned to amberreeves

[2018-10-16 20:57] mtedeschi commented on #68
I reset this, but it looks like should work. I sent a note to Shaun about it, so hopefully it works. Closing for now unless he responds that it isn't working.

[2018-10-16 20:57] #68 closed

[2018-10-19 16:34] amberreeves commented on #60
no word from Evan. closing this for now.

[2018-10-19 16:34] #60 closed